{%if is_paginated %}
<div class="row">
    <div class="col-sm-12 col-md-5">
        <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">共 {{ page_obj.paginator.num_pages }} 页 {{ page_obj.paginator.count }} 条</div>
    </div>
    <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="paginate_button page-item">
            <a href="?page=1&cid={{ cid }}" class="page-link">首页</a>
            </li>
            <li class="paginate_button page-item">
            <a href="?page={{ page_obj.previous_page_number }}&cid={{ cid }}" class="page-link">上一页</a>
            </li>
            {% endif %}
            {% if page_obj.paginator.page_range %}
            {% for page in page_obj.paginator.page_range %}
            
            {%if page_obj.number == page%}
            <li class="paginate_button page-item active"><span class="page-link">{{page}}</span></li>
            {%else%}
            <li class="paginate_button page-item"><a href="?page={{page}}&cid={{ cid }}" class="page-link">{{page}}</a></li>
            {% endif %}
            
            {% endfor %}
            {% endif %}
            {% if page_obj.has_next %}
            <li class="paginate_button page-item">
            <a href="?page={{ page_obj.next_page_number }}&cid={{ cid }}" class="page-link">下一页</a>
            </li>
            <li class="paginate_button page-item">
            <a href="?page={{ page_obj.paginator.num_pages }}&cid={{ cid }}" class="page-link">尾页</a>
            </li>
            {% endif %}
        </ul>
        </div>
    </div>
</div>
{% endif %}