{% extends 'layout.html' %}

{% block content %}
<section>
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                       <p class="lead">Completely enhance an expanded array of internal or "organic" sources for prospective models. Collaboratively unleash installed base strategic theme areas with accurate partnerships. Credibly disintermediate unique content through fully.</p>           
                    <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
                    <p>Conveniently negotiate ubiquitous "outside the box" thinking via bricks-and-clicks human capital. Compellingly aggregate cooperative leadership before one-to-one best practices. Appropriately streamline interdependent methods of empowerment and multimedia based e-business. Rapidiously enable 2.0 deliverables without quality "outside the box" thinking. Globally morph technically sound customer service vis-a-vis extensive action items.</p>
                    <p>Holisticly customize prospective leadership and virtual applications. Competently productivate reliable applications before cross functional technologies. Professionally mesh state of the art web services through seamless alignments. Rapidiously fashion B2B convergence whereas professional platforms. Proactively engineer client-based growth strategies without mission-critical growth strategies. Professionally conceptualize team building deliverables rather than distinctive partnerships. Continually initiate sticky networks after diverse supply chains. Quickly mesh interdependent technology and global materials. Quickly cultivate performance based content and exceptional results. Objectively maximize compelling communities via cross-unit scenarios.</p>

                    <div class="mb90 clearfix"></div>

                    <div id="comments-list" class="wow fadeIn" data-wow-delay="0.2s">
                        <div class="mt60 mb50 single-section-title">
                            <h3>3 Comments</h3>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <img class="avatar comment-avatar" src="http://lorempixel.com/g/80/80/people/9" alt="">
                            </div>
                            <div class="media-body">
                                <div class="well">
                                    <div class="media-heading">
                                        <span class="heading-font">Dave Evans</span>&nbsp; <small>30th Jan, 2015</small>
                                    </div>
                                    <p>Was are delightful solicitude discovered collecting man day. Resolving neglected sir tolerably but existence conveying for. Day his put off unaffected literature partiality inhabiting.</p>
                                    <a class="btn btn-primary pull-right mt30" href="#">Reply</a>
                                </div>
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="avatar comment-avatar" src="http://lorempixel.com/g/80/80/people/5" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="well">
                                            <div class="media-heading">
                                                <span class="heading-font">Dave Evans</span>&nbsp; <small>30th Jan, 2015</small>
                                            </div>
                                            <p>Wicket longer admire do barton vanity itself do in it. Preferred to sportsmen it engrossed listening. Park gate sell they west hard for the. Abode stuff noisy manor blush yet the far. Up colonel so between removed so do.</p>
                                            <a class="btn btn-primary pull-right mt30" href="#">Reply</a>
                                        </div>
                                    </div>
                                </div><!--/.media-->
                            </div>
                        </div><!--/.media-->
                        <div class="media">
                            <div class="pull-left">
                                <img class="avatar comment-avatar" src="http://lorempixel.com/g/80/80/people/6" alt="">
                            </div>
                            <div class="media-body">
                                <div class="well">
                                    <div class="media-heading">
                                        <span class="heading-font">Dave Evans</span>&nbsp; <small>30th Jan, 2015</small>
                                    </div>
                                    <p>Quitting informed concerns can men now. Projection to or up conviction uncommonly delightful continuing. In appetite ecstatic opinions hastened by handsome admitted.</p>
                                    <a class="btn btn-primary pull-right mt30" href="#">Reply</a>
                                </div>
                            </div>
                        </div><!--/.media-->

                        <div id="comments-form" class="row wow fadeIn" data-wow-delay="0.2s">
                            <div class="col-md-12">
                                <div class="mt60 mb50 single-section-title">
                                    <h3>Leave A Reply</h3>
                                </div>
                                <div id="message"></div>
                                <form method="post" id="commentform" class="comment-form">
                                    <input type="text" class="form-control col-md-4 mb20" name="name" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name." />
                                    <input type="text" class="form-control col-md-4 mb20" name="email" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address." />
                                    <input type="text" class="form-control col-md-4 mb20" name="website" placeholder="Your URL *" id="website" required data-validation-required-message="Please enter your web address." />
                                    <textarea name="comments" class="form-control mb40" id="comments" placeholder="Your Message *" required data-validation-required-message="Please enter a message."></textarea>
                                    <a class="btn btn-primary pull-right mt30" href="#">Reply</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 col-sm-offset-1 sidebar">
                    <div class="gallery-widget widget mb40">
                        <h4 class="widget-title mb40">Gallery</h4>
                        <div class="widget-content">
                            <div class="gallery-list">
                                <a class="thumb" href="#">
                                    <img alt="" class="img-responsive" src="assets/images/blog-1.jpeg">
                                </a>
                                <a class="thumb" href="#">
                                    <img alt="" class="img-responsive" src="assets/images/blog-2.jpg">
                                </a>
                                <a class="thumb" href="#">
                                    <img alt="" class="img-responsive" src="assets/images/blog-3.jpg">
                                </a>
                                <a class="thumb" href="#">
                                    <img alt="" class="img-responsive" src="assets/images/blog-4.jpeg">
                                </a>
                                <a class="thumb" href="#">
                                    <img alt="" class="img-responsive" src="assets/images/blog-5.jpg">
                                </a>
                                <a class="thumb" href="#">
                                    <img alt="" class="img-respons<img alt="" class="img-responsive" src="assets/images/blog-5.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="text-widget widget mb40">
                        <h4 class="widget-title mb40">Location</h4>
                        <div class="widget-content">
                            <p>Conveniently enhance high-quality imperatives vis-a-vis team driven technologies. Intrinsicly fashion economically sound communities rather than principle-centered deliverables. Synergistically impact.</p>
                        </div>
                    </div>
                    <div class="useful-link-widget widget mb40">
                        <h4 class="widget-title mb40">Pages</h4>
                        <div class="widget-content">
                            <div class="useful-link-list">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <ul class="list-unstyled">
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Teachers</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Courses</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Support</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Why Scholar</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Social Media</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Site Map</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <ul class="list-unstyled">
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Company</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Latest Courses</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Partners</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Blog Post</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Help Topic</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Policies</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mailing-widget widget">
                        <h4 class="widget-title mb40">Mailing List</h4>
                        <div class="content-wiget">
                            <p class="mb40">Subscribe to our newsletter for the latest updates and offers.</p>
                            <form action="index.html">
                                <div class="input-group">
                                    <input class="form-control form-email-widget" placeholder="Email address" type="text"><span class="input-group-btn"><input class="btn btn-email" type="submit" value="✓"></span>
                                </div>
                            </form>
                            <p></p>    
                        </div>                                
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="dark-wrapper green-wrapper">
    <div class="section-inner-60">
        <div class="container">
            <div class="row cta">
                <div class="col-sm-9">
                    <h4>Do you want to know more? We are here to help.</h4>
                </div>
                <div class="col-sm-3 text-right">
                    <a href="#" class="btn btn-white btn-lg">Get In Touch</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}