{% extends 'layout.html' %}

{% block content %}
<section id="our-courses">
    <div class="section-inner">
        <div class="container">
            <div class="row">
                
                {% for article in articles %}
                <div class="col-md-12 mb40">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="hover-effect smoothie mb40">
                                <a href="#" class="smoothie">
                                <img src="{{article.image.url}}" alt="Image" class="img-responsive smoothie"></a>
                                <div class="hover-caption dark-overlay smoothie text-center">
                                    <div class="vertical-center-js">                                        
                                        <a href="/frontend/detail/{{article.id}}" class="btn btn-primary btn-green">View Article</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <h2 class="mt0 mb40">{{ article.title }}</h2>
                            <a href="/frontend/detail/{{article.id}}" class="btn btn-primary btn-green">View Article</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
</section>

<section class="dark-wrapper green-wrapper">
    <div class="section-inner-60">
        <div class="container">
            <div class="row cta">
                <div class="col-sm-9">
                    <h4>Do you want to know more? We are here to help.</h4>
                </div>
                <div class="col-sm-3 text-right">
                    <a href="#" class="btn btn-white btn-lg">Get In Touch</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}