{% extends 'layout.html' %}

{% block content %}
<section id="about-us">
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">                   	
                    <p class="lead mb40">Interactively visualize web-enabled markets vis-a-vis future-proof total linkage. Competently parallel task economically sound networks before effective systems. Assertively formulate premier methodologies rather than client-focused products. Energistically customize equity invested imperatives via ethical outsourcing. Competently parallel task compelling technologies through next-generation initiatives.</p>
                    <p>Energistically evisculate 2.0 strategic theme areas via extensible sources. Conveniently procrastinate client-focused models through out-of-the-box systems. Holisticly parallel task cross functional synergy rather than low-risk high-yield experiences. Conveniently myocardinate premier networks after seamless materials. Competently build technically sound applications after exceptional applications.</p>
                    <p>Competently impact multifunctional resources through cross-platform bandwidth. Globally reinvent B2C manufactured products and cross functional portals. Quickly seize cross-unit partnerships rather than premier data. Professionally evisculate value-added communities whereas reliable deliverables. Monotonectally parallel task e-business interfaces with distinctive resources.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div id="mapwrapper"></div>
</section>

<section class="dark-wrapper green-wrapper">
    <div class="section-inner-60">
        <div class="container">
            <div class="row cta">
                <div class="col-sm-9">
                    <h4>Do you want to know more? We are here to help.</h4>
                </div>
                <div class="col-sm-3 text-right">
                    <a href="#" class="btn btn-white btn-lg">Get In Touch</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}