{% extends 'layout.html' %}

{% block content %}
<section id="about-us">
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">                   	
                    <p>
                        {% autoescape off %}
                        {{ content }}
                        {% endautoescape %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div id="mapwrapper"></div>
</section>

<section class="dark-wrapper green-wrapper">
    <div class="section-inner-60">
        <div class="container">
            <div class="row cta">
                <div class="col-sm-9">
                    <h4>Do you want to know more? We are here to help.</h4>
                </div>
                <div class="col-sm-3 text-right">
                    <a href="#" class="btn btn-white btn-lg">Get In Touch</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}